*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to right, red, yellow);
}

.input-box{
    width: 80%;
    align-self: center;
}
.task-inp{
    border: none;
    outline: none;
    border-radius: 20px 0 0 20px;
    align-self: center;
    width: 85%;
    padding: 10px 0 10px 1.5rem;
    background-color: #dedede;
}
.task-inp-btn{
    width: 15%;
    background-color: #ff6070;
    border-radius: 0px 20px 20px 0;
}

.tasks{
    position: relative;
    width: 75%;
    align-self: center;
    list-style: none;
}
.tasks li{
    position: relative;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 5px 1rem;
    font-weight: bolder;
}
.tasks li::before{
    content: '';
    position: absolute;
    width: 2rem;
    height: 2rem;
    top: 10px;
    left: -20px;
    border-radius: 50%;;
    background-image: url("./uncheckedTask.jpg");
    background-size: cover;
}
.tasks li.completed::before{
    background-image: url("./checkedTask.jpg");    
}
.tasks li.completed{
    text-decoration: line-through;  
}

.tasks li span{
    height: 30px;
    width: 30px;
    position: absolute;
    font-size: 2.5rem;
    top: 5px;
    right: 0;
    border-radius: 50%;
    color: red;
    line-height: 23px;
    letter-spacing: 5px;
}
.tasks li span:hover{
    background-color: #bbb  ;
}



